<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Домашняя страница{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
        {% if auth.logged_in == false %}
            <a href="/user/login">Login</a> | <a href="/user/signup">Sign up</a>
        {% else %}
            {{ auth.user }} | <a href="/order">Мои заказы</a> | <a href="/user/logout">Выйти</a>
        {% endif %}
    <ul>
        <hr>
        <li class="main"><a href="/">Главная</a></li>
        <li><a href="/good/all">Товары</a></li>
        <li><a href="/basket/index">Корзина</a></li>
    </ul>

    {% block content %}{% endblock %}

    {% block script %}
    <script>
        function testAjax() {
            jQuery.ajax({
                url: '/?a=ajax',
                success: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
    {% endblock %}
</body>
</html>