{% extends 'main.twig' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
    <hr>
    <ul>
        <li><a href="admin/orders">Просмотреть все заказы всех пользователей</a></li>
    </ul>
{% endblock %}