{% extends 'main.twig' %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <h2>{{title}}</h2>
    <a href="/good/add">Добавить товар</a>

    {% for good in goods %}
        <p>Название товара {{ good.getName }}</p>
        <a href="/good/one/?id={{good.getId}}">Подробнее</a>
    {% else %}
        Нет товаров
    {% endfor %}
{% endblock %}